extends layout

block content

  div.nothing-playing
    h2 Nothing is playing right now
    p Please come back later

  div.movie
    div.details
      div.playing
        p Now playing
        p.movie-duration
      div.title
        h1.movie-title
        p.movie-year
      p.summary
